.theme-light {
	--ws-icon-record-off: #444;
	--ws-icon-record-on: #BB1E10;
	--ws-icon-record-light: #f14f41;
	--ws-icon-record-inherit: #F7B500;
	--ws-icon-record-inherit-light: #f5cc5e;

	--ws-progress-0: #611;
	--ws-progress-1: #711;
	--ws-progress-2: #911;
	--ws-progress-3: #941;
	--ws-progress-4: #a61;
	--ws-progress-5: #c83;
	--ws-progress-6: #ca3;
	--ws-progress-7: #aa5;
	--ws-progress-8: #9a6;
	--ws-progress-9: #8a6;
	--ws-progress-10: #6b6;
	--ws-progress-i: #66c;
}

.theme-dark {
	--ws-icon-record-off: #444;
	--ws-icon-record-on: #BB1E10;
	--ws-icon-record-light: #f14f41;
	--ws-icon-record-inherit: #F7B500;
	--ws-icon-record-inherit-light: #f5cc5e;

	--ws-progress-0: #611;
	--ws-progress-1: #711;
	--ws-progress-2: #911;
	--ws-progress-3: #941;
	--ws-progress-4: #a61;
	--ws-progress-5: #c83;
	--ws-progress-6: #ca3;
	--ws-progress-7: #aa5;
	--ws-progress-8: #9a6;
	--ws-progress-9: #8a6;
	--ws-progress-10: #6b6;
	--ws-progress-i: #66c;
}

/* File Explorer */

.ws-file-explorer-counts .nav-folder-title::after,
.ws-file-explorer-counts .nav-file-title::after {
	content: attr(data-mc-word-stats);
	display: flex;
	align-items: center;
	font-size: 0.8em;
	opacity: 0.8;
}

.ws-file-explorer-counts .nav-folder-title-content,
.ws-file-explorer-counts .nav-file-title-content {
	flex: 1;
}


/* Status Bar */

.ws-status-bar-container {
	margin-left: 0.125em;
	border-left: var(--nav-indentation-guide-width) solid var(--nav-indentation-guide-color);
	padding-left: 0.75em;

	margin-right: 0.125em;
	border-right: var(--nav-indentation-guide-width) solid var(--nav-indentation-guide-color);
	padding-right: 0.75em;

	display: flex;
	column-gap: 0.75em;
	align-items: center;
}

.ws-status-bar-record {
	margin: auto;
}

.ws-status-bar-record>.record {
	height: 14px;
	width: 14px;
	display: inline-block;
	border-radius: 50%;
	background-color: var(--ws-icon-record-off);
}

.ws-status-bar-record>.record.recording {
	background-color: var(--ws-icon-record-on);
}

.ws-status-bar-file {
	margin: auto;
}

.ws-status-bar-parent {
	margin: auto;
}

.ws-status-bar-vault {
	margin: auto;
}

.ws-status-bar-file,
.ws-status-bar-parent,
.ws-status-bar-vault {
	margin: auto;
	display: flex;
	align-items: center;
	column-gap: 0.25rem;
}

/* Progress Bar Widget */

.ws-progress {
	height: 24px;
	padding: 4px;
	position: relative;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.ws-progress-bar {
	--padding-fix: 1px;
	position: absolute;
	border-radius: 4px;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	transition: 0.2s linear;
	transition-property: width, background-color;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
	height: calc(100% - 8px);
}

.ws-progress-bar-label {
	z-index: 2;
	position: absolute;
	width: calc(100% - 8px);
	height: calc(100% - 4px);
	text-align: center;
	font-size: 0.8rem;
	margin: auto;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.ws-progress-bar[data-progress="0"] {
	background-color: var(--ws-progress-0);
}

.ws-progress-bar[data-progress="1"] {
	background-color: var(--ws-progress-1);
}

.ws-progress-bar[data-progress="2"] {
	background-color: var(--ws-progress-2);
}

.ws-progress-bar[data-progress="3"] {
	background-color: var(--ws-progress-3);
}

.ws-progress-bar[data-progress="4"] {
	background-color: var(--ws-progress-4);
}

.ws-progress-bar[data-progress="5"] {
	background-color: var(--ws-progress-5);
}

.ws-progress-bar[data-progress="6"] {
	background-color: var(--ws-progress-6);
}

.ws-progress-bar[data-progress="7"] {
	background-color: var(--ws-progress-7);
}

.ws-progress-bar[data-progress="8"] {
	background-color: var(--ws-progress-8);
}

.ws-progress-bar[data-progress="9"] {
	background-color: var(--ws-progress-9);
}

.ws-progress-bar[data-progress="10"] {
	background-color: var(--ws-progress-10);
}

.ws-progress-bar[data-progress="-1"] {
	background-color: var(--ws-progress-i);
}

/* Progress View */

.ws-progress-view h1 {
	font-size: var(--h2-size);
	text-align: center;
}

.ws-progress-view h2 {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	font-size: var(--h3-size);
}

.ws-progress-view h3 {
	font-size: var(--h4-size);
}

.ws-progress-view h4 {
	font-size: var(--h5-size);
}

.ws-progress-view h5 {
	font-size: var(--h6-size);
}

.ws-progress-view h6 {
	font-size: var(--h6-size);
}

.ws-progress-folder-name {
	opacity: 0.8;
}

.ws-progress-label {
	width: 100%;
	text-align: center;
	margin: auto;
	margin-top: 0.25rem;
	font-size: 0.9rem;
}

.ws-progress-file .record,
.ws-progress-folder .record {
	height: 14px;
	width: 14px;
	margin-right: 8px;
	margin-left: 8px;
	display: inline-block;
	border-radius: 50%;
	background-color: var(--ws-icon-record-off);
}

.ws-progress-file .record.inherit,
.ws-progress-folder .record.inherit {
	background-color: var(--ws-icon-record-inherit);
	filter: drop-shadow(0px 0px 6px var(--ws-icon-record-inherit-light));
}

.ws-progress-file .record.recording,
.ws-progress-folder .record.recording {
	background-color: var(--ws-icon-record-on);
	filter: drop-shadow(0px 0px 6px var(--ws-icon-record-light));
}

.ws-progress-stats,
.ws-debug-stats,
.ws-day-stats {
	margin-top: 0.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	font-size: 0.8rem;
}

.ws-progress-stats .heading,
.ws-debug-stats .heading,
.ws-day-stats .heading {
	font-weight: bold;
}

.ws-progress-stats .value,
.ws-debug-stats .value,
.ws-day-stats .value {
	text-align: right;
}

/* Word Goal Dialog */

.ws-word-goals input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: inner-spin-button;
}

/* Debug Stats View */

.ws-debug-buttons {
	display: grid;
	grid-template-columns: auto auto;
}

.ws-debug-buttons button:disabled {
	opacity: 50%;
	pointer-events: none;
}

.ws-stat-button {
	margin: auto;
}
