.theme-light {
	--project-background: #eeeeeedd;
	--project-zebra-bg: #aaaaaadd;
	--total-line-color: #333333dd;
	--ws-table-line-color: #333333dd;
	--ws-sb-error-color: #990000;
	--ws-sb-wc-highlight: #006666;
	--ws-validation-error: #990000;
	--ws-validation-success: #009900;
	--ws-table-highlight: #00000015;
	--ws-table-heading: #00000030;
	--ws-pm-file-info: #3355AA88;
	--ws-icon-edit: #336699;
	--ws-icon-delete: #993333;
	--ws-icon-reset: #AA6633;
	--ws-icon-okay: #339933;
}

.theme-dark {
	--project-background: #00000022;
	--project-zebra-bg: #FFFFFF0A;
	--total-line-color: #eeeeeedd;
	--ws-table-line-color: #eeeeeedd;
	--ws-sb-error-color: #990000;
	--ws-sb-wc-highlight: #00AAAA;
	--ws-validation-error: #990000;
	--ws-validation-success: #009900;
	--ws-table-highlight: #ffffff15;
	--ws-table-heading: #ffffff30;
	--ws-pm-file-info: #5577FF88;
	--ws-icon-edit: #3399CC;
	--ws-icon-delete: #DD3333;
	--ws-icon-reset: #DDAA33;
	--ws-icon-okay: #33DD33;
}

.ws-status-bar {
	display: flex;
	justify-content: space-evenly;
	column-gap: 1.5em;
	align-items: flex-start;
}

.ws-sb-icon {
	color: var(--ws-sb-wc-highlight);
	display: flex;
	align-items: center;
	align-self: center;
}

.ws-sb-icon.error {
	color: var(--ws-sb-error-color);
}

.ws-sb-count-project.error {
	color: var(--ws-sb-error-color);
}

.ws-sb-icon.hidden {
	display: none;
}

.ws-sb-counter-file,
.ws-sb-counter-project,
.ws-sb-counter-vault {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 0.25em;
	flex-wrap: wrap;
}

.ws-sb-tooltip-list {
	margin-block-start: 0em;
	margin-block-end: 0em;

}

.ws-sb-tooltip>p {
	margin: 0;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.ws-tip-container {
	padding-bottom: 8px;
	display: block;
}

.ws-tooltip-source.tooltip {
	animation: none;
	display: flex;
}

.ws-pm-file-info {
	animation: none;
	display: flex;
}

.ws-text-icon.error {
	color: var(--ws-validation-error);
}

.ws-text-icon {
	color: var(--ws-validation-success);
}

.ws-text-icon.hidden {
	display: none;
}

.ws-suggest-box-container .ws-input.invalid,
.ws-validated-input-container .ws-input.invalid {
	border-color: var(--ws-validation-error);
}

.ws-suggest-box-container,
.ws-validated-input-container {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	column-gap: 0.25em;
	row-gap: 0.5em;
}

.ws-suggest-box-container .ws-validation-error,
.ws-validated-input-container .ws-validation-error {
	flex-basis: 100%;
}

.ws-validation-error {
	font-size: small;
	line-height: 115%;
	text-align: left;
}

.ws-suggest.validation.hidden,
.ws-validation-error .hidden {
	display: none;
}

.ws-validation-error {
	color: var(--ws-validation-error);
}

.ws-project-editor .setting-item .setting-item-info {
	display: flex;
	flex-direction: column;
}

.ws-project-editor .setting-item {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
}

.ws-validated-input,
.ws-suggest-input {
	display: flex;
	align-items: flex-end;
	column-gap: 0.25em;
}

input.ws-number {
	text-align: right;
}

.ws-suggest-box .suggestion-item:hover {
	background-image: linear-gradient(#ffffff15, #ffffff15);
}

.suggestion-container.ws-suggest-box {
	animation: none;
}

.ws-project-edit-panel-header {
	display: grid;
}

div.ws-project-management-view {
	overflow-y: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.ws-project-management-view .nav-header {
	align-self: flex-start;
	width: 100%;
}

.ws-project-management-view .nav-buttons-container {
	position: sticky;
}

.ws-project-management-view .nav-buttons-container .group {
	display: flex;
}

.ws-project-management-view-body {
	display: flex;
	flex-direction: column;
	padding-left: 2px;
	overflow-y: auto;
}

div.ws-pm-file-info {
	position: sticky;
	margin-top: auto;
	width: 100%;
	flex-direction: column;
}

.ws-pm-file-info .group {
	display: flex;
}

.ws-pm-file-info-header {
	font-weight: bold;
	text-align: center;
	width: 100%;
}

i.back-icon.hidden {
	display: none;
}

i.back-icon:hover {
	filter: drop-shadow(0px 0px 1px) drop-shadow(0px 0px 2px);
}

table.ws-file-info {
	width: 100%;
}

table.ws-file-info.hover {
	transition: cubic-bezier(1, 0, 0, 1);
	background-image: linear-gradient(to right, var(--ws-pm-file-info), transparent)
}

tr.ws-pm-fi-project-list {
	overflow-y: auto;
}

.ws-file-info ul {
	margin-block-start: 0;
	margin-block-end: 0;
	column-count: 2;
	list-style-type: none;
	padding-inline-start: 0px;
	justify-items: center;
}

.ws-file-info ul li {
	background-color: #99999966;
	border-radius: 8px;
	text-align: center;
	margin: 2px;
	display: inline-block;
	padding-left: 4px;
	padding-right: 4px;
}

.ws-pm-project-list-header {
	background-image: linear-gradient(var(--ws-table-heading), var(--ws-table-heading));
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.ws-pm-project-list-item:nth-child(even) {
	background-image: linear-gradient(var(--ws-table-highlight), var(--ws-table-highlight));
}

.ws-pm-project-list-header {
	margin-top: 0.25em;
}

.ws-pm-project-list-content {
	display: table;
	width: 100%;
}

.ws-pm-project-list-item-header {
	display: flex;
	align-items: flex-start;
	column-gap: 0.25em;
	width: 100%;
	justify-content: space-between;
	padding-left: 2px;
	padding-right: 2px;
}

.ws-pm-project-list-item-files.hidden {
	display: none;
}

.ws-pm-project-list-item-header .label {
	display: flex;
	align-items: flex-start;
	column-gap: 0.25em;
}

.ws-pm-project-list-item-header:hover {
	background-image: linear-gradient(to right, transparent 0%, var(--ws-pm-file-info) 24px, transparent);
}

.ws-pm-project-list-item-header.is-open {
	border-bottom: 1px solid var(--ws-table-highlight);
}

.ws-pm-project-list-item-files {
	width: 100%;
}

.ws-pm-file-item {
	background: inherit;
}

table.ws-pm-project-list-item-files> :is(tbody, tfoot)>tr.ws-pm-file-item>td.ws-pm-file-item-name {
	text-align: left;
}

table.ws-pm-project-list-item-files> :is(tbody, tfoot)>tr.ws-pm-file-item>td.ws-pm-file-item-word-count {
	text-align: right;
}

.ws-pm-project-list-item-header i {
	display: flex;
	align-items: center;
	align-self: center;
}

.ws-pm-project-list-item-word-count {
	text-align: right;
	align-self: flex-end;
}

.ws-pm-project-list-item-word-count.hidden {
	display: none;
}

.ws-pm-project-list-item-header .group {
	display: flex;
	column-gap: 0.25em;
	align-self: center;
}

.ws-pm-project-list-item-header .group i {
	display: flex;
	align-items: center;
	align-self: center;
}

.ws-path-item-buttons {
	display: flex;
	align-items: center;
	align-self: center;
	column-gap: 0.1em;
}

.ws-project-item-buttons {
	display: flex;
	align-items: center;
	align-self: center;
	column-gap: 0.1em;
}

.ws-path-item-end,
.ws-project-item-end {
	display: flex;
	column-gap: 0.25em;
}

.ws-word-progress {
	margin-top: auto;
	height: 2px;
	width: 0%;
	background-repeat: no-repeat;
	background-size: 98%;
	border-radius: 3px;
	transition: 0.15s;
}

.ws-word-progress[data-progress="1"] {
	background-image: linear-gradient(to right, darkred 0%, red 100%);
}

.ws-word-progress[data-progress="2"] {
	background-image: linear-gradient(to right, darkred 0%, red 50%, darkorange 100%);
}

.ws-word-progress[data-progress="3"] {
	background-image: linear-gradient(to right, darkred 0%, red 33%, darkorange 67%, orange 100%);
}

.ws-word-progress[data-progress="4"] {
	background-image: linear-gradient(to right, darkred 0%, red 23%, darkorange 45%, orange 68%, green 100%);
}

.ws-word-progress[data-progress="5"] {
	background-image: linear-gradient(to right, darkred 0%, red 25%, darkorange 50%, orange 75%, green 90%, limegreen 100%);
}

.ws-word-progress[data-progress="6"] {
	background-image: linear-gradient(to right, limegreen, limegreen);
}

.ws-path-item-inner {
	flex: 1 1 auto;
}

.ws-icon-edit {
	color: var(--ws-icon-edit);
}

.ws-icon-edit:hover {
	filter: drop-shadow(0px 0px 1px var(--ws-icon-edit)) drop-shadow(0px 0px 2px var(--ws-icon-edit));
}

.ws-icon-mod {
	color: var(--ws-icon-reset);
}

.ws-icon-mod:hover {
	filter: drop-shadow(0px 0px 1px var(--ws-icon-reset)) drop-shadow(0px 0px 2px var(--ws-icon-reset));
}

.ws-icon-delete {
	color: var(--ws-icon-delete);
}

.ws-icon-delete:hover {
	filter: drop-shadow(0px 0px 1px var(--ws-icon-delete)) drop-shadow(0px 0px 2px var(--ws-icon-delete));
}

.ws-icon-okay {
	color: var(--ws-icon-okay);
}

.ws-icon-okay:hover {
	filter: drop-shadow(0px 0px 1px var(--ws-icon-okay)) drop-shadow(0px 0px 2px var(--ws-icon-okay));
}

.ws-icon-no-hover:hover {
	filter: unset;
}

.ws-pm-project-list-item-header .group i.edit-icon {
	color: var(--ws-icon-edit);
}

.ws-pm-project-list-item-header .group i.delete-icon {
	color: var(--ws-icon-delete);
}

.ws-pm-project-list-item-header .group i.edit-icon:hover {
	filter: drop-shadow(0px 0px 1px var(--ws-icon-edit)) drop-shadow(0px 0px 2px var(--ws-icon-edit));
}

.ws-pm-project-list-item-header .group i.delete-icon:hover {
	filter: drop-shadow(0px 0px 1px var(--ws-icon-delete)) drop-shadow(0px 0px 2px var(--ws-icon-delete));
}

/*
tbody > tr.ws-pm-file-item,
thead > tr.ws-pm-file-item,
tfoot > tr.ws-pm-file-item {
	background: inherit;
}

table.ws-pm-project-list-item-files {
	background: inherit;
}

table.ws-pm-project-list-item-files > tbody,
table.ws-pm-project-list-item-files > thead,
table.ws-pm-project-list-item-files > tfoot {
	background: inherit;
}
*/

tbody>tr.ws-pm-file-item:hover {
	background-image: linear-gradient(to right, var(--ws-pm-file-info), transparent);
}

.ws-project-info .top-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1.5em;
}

.top-info-heading {
	font-weight: bold;
}

.ws-project-info .top-info div {
	display: flex;
	flex-direction: column;
}

.project-file-table {
	width: 100%;
}

table.project-file-table tbody tr:nth-child(even) {
	background-image: linear-gradient(var(--ws-table-highlight), var(--ws-table-highlight));
}

table.project-file-table tfoot tr td {
	font-weight: bold;
}

td.word-count,
td.total-head {
	text-align: right;
}

.mc-ws-file-explorer-counts .nav-folder-title::after,
.mc-ws-file-explorer-counts .nav-file-title::after {
	content: attr(data-mc-word-stats);
	display: flex;
	align-items: center;
	font-size: 0.8em;
	opacity: 0.8;
}

.mc-ws-file-explorer-counts .nav-folder-title-content,
.mc-ws-file-explorer-counts .nav-file-title-content {
	flex: 1;
}

.ws-stat-view {
	padding: 4px;
}

.ws-stat-view p {
	margin-block: 0;
}

.ws-heading {
	text-align: center;
	font-size: 1.05rem;
}

.ws-sv-stat-obj {}

.ws-title {
	font-size: 1.2rem;
	text-align: center;
	color: var(--interactive-accent);
	font-weight: bold;
}

.ws-path {
	font-size: 0.8rem;
}

.ws-sv-stats {
	display: grid;
	grid-template-columns: auto auto;
}

.ws-sv-value {
	text-align: right;
}

.ws-sv-stats button:disabled {
	opacity: 50%;
	pointer-events: none;
}